table,
tr,
td {
  border: 1.5px solid rgb(150, 150, 150);
}
table {
  table-layout: auto;
  width: 200px;
}
tr:nth-child(3) td,
tr:nth-child(6) td {
  border-bottom: 3px solid rgb(0, 0, 0);
}
td:nth-child(3),
td:nth-child(6) {
  border-right: 3px solid rgb(0, 0, 0);
  

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  margin: auto;
  border: none;
}
